USE [DataWarehouse];
/*
===============================================================================
Change Over Time Analysis
===============================================================================
Purpose:
    - To track trends, growth, and changes in key metrics over time.
    - For time-series analysis and identifying seasonality.
    - To measure growth or decline over specific periods.

SQL Functions Used:
    - Date Functions: DATEPART(), DATETRUNC(), FORMAT()
    - Aggregate Functions: SUM(), COUNT(), AVG()
===============================================================================
*/

-- Analyse sales performance over time
-- Quick Date Functions
SELECT
    YEAR(order_date) AS order_year,
    MONTH(order_date) AS order_month,
    SUM(sales_amount) AS total_sales,
    COUNT(DISTINCT customer_key) AS total_customers,
    SUM(quantity) AS total_quantity
FROM gold.fact_sales
WHERE order_date IS NOT NULL
GROUP BY YEAR(order_date), MONTH(order_date)
ORDER BY YEAR(order_date), MONTH(order_date);

-- DATETRUNC()
SELECT
    DATETRUNC(month, order_date) AS order_date,
    SUM(sales_amount) AS total_sales,
    COUNT(DISTINCT customer_key) AS total_customers,
    SUM(quantity) AS total_quantity
FROM gold.fact_sales
WHERE order_date IS NOT NULL
GROUP BY DATETRUNC(month, order_date)
ORDER BY DATETRUNC(month, order_date);

-- FORMAT()
SELECT
    FORMAT(s.order_date, 'yyyy-MMM') AS order_date,
    SUM(s.sales_amount) AS total_revenue,
    COUNT(DISTINCT s.customer_key) AS total_customers,
    SUM(s.quantity) AS total_quantity,
    SUM(s.sales_amount) - SUM(p.wholesale_cost * s.quantity) AS total_profit,
    ROUND((SUM(p.wholesale_cost * s.quantity)/SUM(s.sales_amount)),4)*100 AS "profit_margin(%)"
FROM gold.fact_sales AS s
LEFT JOIN gold.dim_products AS p
    ON s.product_key = p.product_key
WHERE order_date IS NOT NULL
GROUP BY FORMAT(order_date, 'yyyy-MMM')
ORDER BY FORMAT(order_date, 'yyyy-MMM');

SELECT *
FROM gold.fact_sales

SELECT *
FROM gold.dim_products

SELECT *
FROM gold.fact_sales

SELECT *
FROM gold.fact_sales


/*
===============================================================================
Cumulative Analysis
===============================================================================
Purpose:
    - To calculate running totals or moving averages for key metrics.
    - To track performance over time cumulatively.
    - Useful for growth analysis or identifying long-term trends.

SQL Functions Used:
    - Window Functions: SUM() OVER(), AVG() OVER()
===============================================================================
*/

-- Calculate the total sales per month 
-- and the running total of sales over time 
SELECT
	order_date,
	total_sales,
	SUM(total_sales) OVER (ORDER BY order_date) AS running_total_sales,
	AVG(avg_price) OVER (ORDER BY order_date) AS moving_average_price
FROM
(
    SELECT 
        DATETRUNC(year, order_date) AS order_date,
        SUM(sales_amount) AS total_sales,
        AVG(price) AS avg_price
    FROM gold.fact_sales
    WHERE order_date IS NOT NULL
    GROUP BY DATETRUNC(year, order_date)
) t

WITH base AS (
    SELECT 
        DATETRUNC(year, order_date) AS order_date,
        SUM(sales_amount) AS total_sales,
        AVG(price) AS avg_price
    FROM gold.fact_sales
    WHERE order_date IS NOT NULL
    GROUP BY ROLLUP (DATETRUNC(year, order_date))
)
SELECT
    CASE 
        WHEN GROUPING(order_date) = 1 THEN NULL   -- blank for total row
        ELSE order_date
    END AS order_date,

    total_sales,

    CASE 
        WHEN GROUPING(order_date) = 1 THEN NULL
        ELSE SUM(total_sales) OVER (ORDER BY order_date)
    END AS running_total_sales,

    CASE 
        WHEN GROUPING(order_date) = 1 THEN NULL
        ELSE AVG(avg_price) OVER (ORDER BY order_date)
    END AS moving_average_price

FROM base
ORDER BY 
    CASE WHEN order_date IS NULL THEN 1 ELSE 0 END,  -- push total row to bottom
    order_date;


WITH base AS (
    SELECT 
        DATETRUNC(year, order_date) AS order_year,
        sales_amount,
        price
    FROM gold.fact_sales
    WHERE order_date IS NOT NULL
),
agg AS (
    SELECT 
        order_year,
        SUM(sales_amount) AS total_sales,
        AVG(price) AS avg_price
    FROM base
    GROUP BY ROLLUP(order_year)
)
SELECT
    CASE 
        WHEN GROUPING(order_year) = 1 THEN NULL
        ELSE order_year
    END AS order_date,

    total_sales,

    CASE 
        WHEN GROUPING(order_year) = 1 THEN NULL
        ELSE SUM(total_sales) OVER (ORDER BY order_year)
    END AS running_total_sales,

    CASE 
        WHEN GROUPING(order_year) = 1 THEN NULL
        ELSE AVG(avg_price) OVER (ORDER BY order_year)
    END AS moving_average_price

FROM agg
ORDER BY 
    CASE WHEN order_year IS NULL THEN 1 ELSE 0 END,
    order_year;
